apiVersion: v1
kind: Secret
metadata:
  name: {{ node.hostname }}-bmc-secret
  namespace: {{ ocp_acm_namespace }}
type: Opaque
stringData:
  username: "{{ node.bmc_username }}"
  password: "{{ node.bmc_password }}"
