apiVersion: v1
kind: Secret
metadata:
  name: {{ ocp_acm_pull_secret_name }}
  namespace: {{ ocp_acm_namespace }}
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: '{{ ocp_pull_secret_effective | replace("'", "''") }}'
